<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>index</title>
    <style>
        .uid {
            padding-bottom: 0.25rem;
        }
        #user {
            display: flex;
            flex-direction: column;
            padding-bottom: 1rem;
        }
    </style>
    <!--    <script type="text/javascript" src="../js/login.js">-->
    </script>
</head>
<body>
<header>
    <h1>Login</h1>
</header>
<section>
    <form id="login" action="user/login" method="post">
        <div id="user">
            <label for="uid" class="uid">
                <input type="text" id="uid" placeholder="ID" name="uid">
            </label>
            <label for="pwd" class="pwd">
                <input type="password" id="pwd" placeholder="Password" name="pwd">
            </label>
        </div>
        <button type="submit" id="loginBtn">로그인</button>
        <button type="button" id="signupBtn">회원가입</button>
    </form>

</section>
<footer>
    footer
</footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
let loginBtn = document.querySelector("#loginBtn");

loginBtn.addEventListener("click", function(){
    let uid = document.qurySelector("#uid").value;
    let pwd = document.qurySelector("#pwd").value;
    console.log('로그인 버튼 클릭');
<!--    const API = "http://localhost:8090/user/login";-->
    const API = "/user/login";
    function loginCheck() {
	fetch(API, {
	       //option
	       method : 'POST',
	       headers: {
	           'Content-Type': 'application/json;charset=utf-8'
	       },
	       body: JSON.stringify({
	    	   "uid" : uid,
	    	   "pwd" : pwd,
	       })
	    })
	    .then(response => response.json())
	    .then(json => {
	       //처리후 메시지 출력
    	   alert(json.message);
    	   location.href = json.url;


	    });

}
<!--    axios.post(API, {-->
<!--        uid : uid.value-->
<!--        pwd : pwd.value-->
<!--    },-->
<!--    {-->
<!--      headers : {-->
<!--        "Content-Type": "application/json;charset=UTF-8",-->
<!--        // 'Content-Type' : 'application/json', //클라이언트가 서버한테 요청하는(원하는) 타입-->
<!--        'Accept' : 'application/json', //현재 서버한테 보내는 데이터 타입-->
<!--        'Access-Control-Allow-Origin' : '*',-->
<!--      },)-->
<!--      .then((response) => {-->
<!--        console.log(response);-->
<!--        console.log(response.data);-->
<!--        console.log('로그인 성공');-->
<!--      }).catch((errer) => {-->
<!--      console.log(errer);-->
<!--      console.log('로그인 실패');-->
<!--      })-->
}

</script>
</html>